@keyframes slideIn {
  0% {
    transform: translateX(375px);
  }
  60% {
    display: flex;
    transform: translateX(-50px);
  }
  90% {
    display: none;
    transform: translateX(30px);
  }
  100% {
    transform: translateX(0px);
  }
}

